.container {
    margin-top: 1em;
}

.sous_container {
    display: flex;
}


table {
    border-collapse: collapse;
    background-color: #fafafa;
    width: 20%;
    margin-right: 2em;

}

table, th, td {
    border: 1px solid black;
}

button {
    position: relative;
    border:2px solid #ff87db;
    background-color:#ff87db;
    color:#fafafa;
    border-radius: 5px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}

button:disabled {
    border:2px solid #816779a4;
    background-color: #816779a4;
    color:#fafafa;
}

button:hover:enabled {
    background-color:#fafafa;
    color:#ff87db;
    border:2px solid #ff87db;
}

button:after {
    content: "";
    background: #ff87db;
    color: #fafafa;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}