ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav {
    width:100%;
    background-color: #333;
    overflow: hidden;
    height: 50px;
}

#head-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 1em 2em 1em 2em;
}


/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
nav a.active {
    background-color: #ddd;
    color: black;
}

body {
    background-position: top;
}

h1 {
    cursor: pointer;
}