
<body>
    <div id="head-title">
        <h1 routerLink="">Les Recettes Magiques</h1>
        <app-search-field></app-search-field>
    </div>
    
    <nav>
      <ul>  
        <li><a routerLink="/newrecipe">Nouvelle Recette</a></li>
        <li><a routerLink="/allrecipe">Toutes les recettes</a></li>
        <li><a routerLink="/search">Recherche avancée</a></li>
      </ul>
    </nav>
</body>
  
  
