<!DOCTYPE html>

<form>
  <input type="text" placeholder="Search..." class="search" required [(ngModel)]="search.name" name="search">
  <input type="submit" value="Search" class="button" (click)="searchDone();">
</form>