form {
    width:500px;
}
.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
    border-radius: 5px 0px 0px 5px;
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #ff87db;
    background-color:#ff87db;
    color:#fafafa;
    border-radius: 0px 5px 5px 0px;
}
.button:hover  {
    background-color:#fafafa;
    color:#ff87db;
}